@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Lemon&family=Permanent+Marker&family=Rubik+Doodle+Shadow&family=Russo+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(150, 166, 166);
  background-size: 100% 100vw;
  background-repeat: no-repeat;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 4px grey;
}

.navbar img {
  width: 60px;
  cursor: pointer;
}

.main {
  display: flex;
  margin-left: 40px;
  justify-content: space-around;
  width: 30vw;
  cursor: pointer;
}

.form-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  background-color: black;
  width: 40vw;
}

.submitted {
  height: auto;
}

.form-container.submitted {
  width: 40%;
}

.input-success {
  width: calc(100% - 18px);
}

.success.submitted {
  background-color: #357bf7;
  color: white;
  margin: auto;
  width: 40vw;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

legend {
  background-color: #242424;
  color: white;
  padding: 3px;
  margin-bottom: 10px;
}

form input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
}

form input[type="submit"] {
  background-color: #41a445;
  color: white;
  margin-top: 1rem;
  font-weight: 500;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #459948;
}

form label {
  font-weight: 500;
  margin-top: 0.5rem;
}

.err {
  color: red;
  font-size: 0.9rem;
}

input {
  color: white;
}

.lable_firstName {
  color: white;
}

.lable_lastName {
  color: white;
}

.exploreBooks_btn {
  width: 12vw;
  margin-top: -10vh;
  margin-left: 50vw;
  height: 7vh;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: rgb(255, 254, 254);
  border-color: red;
  font-size: 15px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
}

.suuccess_msg {
  background-color: #357bf7;
  font-size: 20px;
  padding: 18px;
  margin: auto;
  width: 40vw;
  text-align: center;
}

.reset_button {
  width: 10vw;
  margin: auto;
  height: 7vh;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.registerButton {
  width: 10vw;
  margin: auto;
  height: 7vh;
  font-size: 20px;
  border-radius: 10px;
}
